<!DOCTYPE html>
<html ng-app="tbDevPortfolio">
  <head>
    <meta charset="utf-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>Tim Berry | Full-Stack Javascript Web Developer | AngularJS, Node.js</title>

    <!-- <link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="./assets/styles/reset.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <link href="../../bower_components/toastr/toastr.css" rel="stylesheet"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/assets/js/functions.js"></script>

    <script>
      $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top -60
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

  </head>
  <body ng-controller="AppCtrl as appCtrl">
    <header>
      <div class="content">
        <div class="logo">
          < timberry.io />
        </div>
        <nav>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <!-- <li><a href="#resume">Resume</a></li> -->
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="main">

        <section id="home">
          <div class="content xycenter">
            <div class="home-text">
              <img src="/assets/images/tberry_right.jpg">
              <!-- <img src="/assets/images/tberry_bw.png"> -->
              <div>
                <h1>Tim Berry</h1><br>
                Full-Stack Web Developer | AngularJS, Node.js, Express, MongoDB<br><br>
                <span style="font-size: 1.4em;">
                <a href="https://github.com/tberry30" target="_blank"><i class="fa fa-github-square"></i></a>
                <a href="https://www.linkedin.com/in/timothyaberry" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                <a href="#contact"><i class="fa fa-envelope-square"></i></a>
              </span>
              </div>
            </div>
          </div>
          <a href="#about"><i class="fa fa-angle-down"></i></a>
        </section>

        <section id="about" class="padding">
          <div class="content">
            <h2>About</h2>
            <div style="font-size: 2em; text-align: center;">
            Hello, world! I'm Tim.
            </div>
            <br><br>
            <p>
              I'm a full-stack web developer from Salt Lake City, Utah, with a background in inventory management, the outdoor industry, and music production.<br><br>

              Since I started dabbling in the web several years ago, I have found a passion for developing responsive, clean websites that offer a great user experience. As a child, did you ever take things apart just to see what made them work?  That was me.  I began by following this same curiosity that I had as a child.  I would dissect source code, look at all the parts, and try to figure out how it all worked together to make a functional site.  As I started to understand all the pieces, I would make changes to see their impact. This is how I learned the basics of development.<br><br>

              When I decided to make this my career, I attended DevMountain, where I gained advanced skills in full-stack development, focusing on Angular and Node. Now as a professional web developer, I have built a skill set of many web technologies.  If you're in need of a website, or looking to hire, please get in touch <a href="#contact">here</a>.
            </p>




          </div>
        </section>

        <section id="skills" class="padding">
          <div class="content">
            <h2>Skills</h2>
            <div class="skillItems">
              <div><img src="/assets/images/html5.png"><br>HTML5</div>
              <div><img src="/assets/images/css3.png"><br>CSS3</div>
              <div><img src="/assets/images/javascript.png"><br>Javascript</div>
              <div><img src="/assets/images/angular.png"><br>AngularJS</div>
            </div>
            <div class="skillItems">
              <div><img src="/assets/images/node.png"><br>Node.js</div>
              <div><img src="/assets/images/git.png"><br>Git</div>
              <div><img src="/assets/images/gulp.png"><br>Gulp</div>
              <div><img src="/assets/images/php.png"><br>PHP</div>
              <!-- <div><img src="/assets/images/react.png"><br>ReactJS</div> -->
              <!-- <div><img src="/assets/images/sass.png"><br>SASS</div> -->
            </div>
            <div class="skillItems">
              <div><img src="/assets/images/mongodb.png"><br>MongoDB</div>
              <div><img src="/assets/images/mysql.png"><br>MySQL</div>
            </div>
          </div>
        </section>



        <section id="portfolio" class="padding">
          <div class="content">
            <h2>Portfolio</h2>
            <div class="ui-view-container">
              <a class="portfolio-nav" ng-click="appCtrl.back()"><i class="fa fa-chevron-left"></i></a>
              <a class="portfolio-nav" ng-click="appCtrl.forward()"><i class="fa fa-chevron-right"></i></a>
              <div ui-view="portfolio" class="{{appCtrl.direction}}"></div>
            </div>
          </div>
        </section>

        <!-- <section id="resume">
          <h2>Resume</h2>
        </section> -->

        <section id="contact" class="padding">
          <div class="content">
            <h2>Contact</h2>
            <div class="contact-form">
              <form name="contactForm" ng-submit="appCtrl.submitContact(appCtrl.contact)">
                <input type="text" ng-model="appCtrl.contact.fromName" placeholder="Name"><br>
                <input type="text" ng-model="appCtrl.contact.fromEmail" placeholder="Email"><br>
                <textarea rows="9" ng-model="appCtrl.contact.content" placeholder="Message"></textarea><br><br><br><br>
                <button class="btn" type="submit">Send</button>
                <button class="btn" type="reset">Reset</button>
              </form>
            <div>
          </div>
        </section>


      <div class="push"></div>
    </div> <!-- main-content -->

    <footer>
      <div class="content">
        Copyright &copy;
        <script type="text/javascript">
          var d = new Date()
          document.write(d.getFullYear())
        </script>
        | timberry.io | All rights reserved
      </div> <!-- content -->
    </footer>

    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../../bower_components/toastr/toastr.js"></script>

    <script src="./app.module.js"></script>
    <script src="./app.routes.js"></script>
    <script src="./app.controller.js"></script>

    <script src="./portfolio/portfolio.controller.js"></script>
  </body>
</html>
